<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Angular</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
		        <a ng-href="{{item.link}}">{{item.title}}</a>
		    </li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
		    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
		    <li ng-class="{active: isActive('/logout')}"></li>
			<li ng-show="currentUser" class="dropdown">
				<a class="dropdown-toggle accounts" data-toggle="dropdown">Account <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/settings">Settings</a></li>
					<li><a href="" ng-click="logout()">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>