<nav class="navbar navbar" role="navigation" ng-controller="NavbarCtrl">
		<ul class="nav nav-tabs navbar-left">
      <li>
        <a class="navbar-brand" href="#">Album</a>
			</li>
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
		    <a ng-href="{{item.link}}">{{item.title}}</a>
		  </li>
		</ul>
		<ul class="nav nav-tabs navbar-right">
			<li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
		    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
		    <li ng-class="{active: isActive('/logout')}"></li>
			<li ng-show="currentUser" class="dropdown">
				<a class="dropdown-toggle accounts" data-toggle="dropdown">Account <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/settings">Settings</a></li>
					<li><a href="" ng-click="logout()">Logout</a></li>
				</ul>
			</li>
		</ul>
</nav>