<div ng-include="'partials/navbar.html'"></div>

<form class="form form-group " id="uploadForm" name="form" enctype="multipart/form-data" method="post">
  <button class="btn btn-info" ng-click="uploadFile()">Upload</button>
  <div class="col-sm-5">
    <input type="file" name="displayImage" id="displayImage" class="form-control" title="Choose file">
  </div>
</form>

<div class="row">
	<div>
		<h3>Images</h3>
    <ul class="list-group">
      <li class="list-group-item row"  ng-repeat="file in files">
        <div class="pull-left">
          <img ng-src="{{'../../pictures/' + file.name}}" image-resize image-height="100" class="media-object"/>
          <a  ng-href="modify/{{file.name}}" class="btn">Modify</a>
        </div>
        <div class="col-sm-2" ng-repeat="variation in file.mainFileVariations">
          <img ng-src="{{'../../pictures/' + variation.name}}" image-resize image-height="80" class="media-object"/>
          <ul class="nav nav-pills btn-group" >
            <li><a href="/upload" class="btn" ng-click="downloadFile(variation)">Download</a></li>
            <li><a href="/upload" class="btn"ng-click="deleteFile(variation)" >Delete</a></li>
          </ul>
        </div>
      </li>
    </ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-success" ng-repeat="alert in successAlerts" ng-animate="'animate'">
			<strong>Success!</strong> {{ alert.success }} - by - {{ alert.user }}
		</div>
		<div class="alert alert-warning" ng-repeat="alert in errorAlerts">
		    <strong>Error!</strong> {{ alert.success }}
		</div>
	</div>
</div>